

$shadow: 5px 5px 5px rgb(0, 0, 0);;
$headerFooterColor: linear-gradient(rgb(186, 255, 255), rgb(188, 219, 255)) ;
/*Hide overflow and fill the entire screen*/
body{
    background: linear-gradient(to left top, rgb(0, 0, 0), rgb(252, 206, 255)) fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}
/*Centralize content*/
#wrapper{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}


tr{
    position: relative;
}



a{
    word-break: break-all;
}
/*Give header color graident*/
header{
background: $headerFooterColor ;
position: fixed;
top: 0;
left: 0;
width:100vw;

display: flex;


}

.tableId{
    display: none;
}
tr:nth-child(even){
    background-color: #000000;}
/*Highlight tables when pointer hovers over them*/
tr:hover {
    background-color: rgb(251, 255, 188);}
table, th, td {
    border-bottom: 1px solid black;
    overflow-wrap: normal;
  }
table{
    border: 1px solid black;
    text-align: left;
    background-color: rgb(255, 255, 255);
    position: relative;
}
td{
    padding-right: 10px;
}

#mainContent{
    position: absolute;
    align-content: center;
    justify-content: center;
    top: 70px;
    box-shadow: $shadow;
    background-color: rgb(218, 251, 255);
    padding: 10px;
}
footer{
    position: fixed;
    bottom: 0;
    width:100vw;
    box-shadow: $shadow;
    background: $headerFooterColor;
    
}
